/* ===== GENERALS ===== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

/* ===== FONTS ===== */

@font-face {
    font-family: "ligth";
    src: url("/fonts/OpenSans-Light.ttf") format("truetype");
}

@font-face {
    font-family: "regual";
    src: url("/fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "bold";
    src: url("/fonts/OpenSans-SemiBold.ttf") format("truetype");
}

.font-light {
    font-family: 'ligth';
}

.font-regual {
    font-family: 'regual';
}

.font-bold {
    font-family: 'bold';
}


/* ===== COLORS ===== */

/*
 Verlauf
rgba(126,213,111,0.8)

rgba(40,180,133,0.8)

Grau
#777

Green
#55c57a

*/

/* ===== END GENERALS ===== */

/* ===== BACKGROUND BANNER ===== */

.banner {
    background: linear-gradient(to right top,
            rgba(126, 213, 111, 0.8),
            rgba(40, 180, 133, 0.8)),
        url(/imgs/hero.jpg) no-repeat;
    background-size: cover;
    background-position: 35% 23%;
    background-size: cover;
    background-position: top;
    height: 70vh;
    margin: 20px;
    clip-path: polygon(0 0, 100% 0, 100% 60vh, 0 100%);
    position: relative;
}

/* ===== END BACKGROUND BANNER ===== */

/* ===== BANNER SCHRIFT ===== */

.banner>h1,
.banner>h2,
.banner>a {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #ffff;
}


.banner>h1 {
    font-size: 70px;
    padding-top: 20vh;
    letter-spacing: 10px;
}

.banner>h2 {
    font-size: 20px;
    letter-spacing: 10px;
}

.banner>a {
    display: block;
    width: 200px;
    height: 50px;
    background-color: #ffff;
    color: #777;
    text-decoration: none;
    border-radius: 28px;
    padding-top: 14px;
    margin-top: 40px;
}

/* ===== END BANNER SCHRIFT ===== */


/* ===== NAVIGATION BAR ===== */

.mobileNav {
    position: absolute;
    right: 40px;
    top: 50px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    z-index: 600;
}

.mobileNav>span {
    position: absolute;
    display: inline-block;
    background-color: black;
    height: 3px;
    width: 30px;
    transition-duration: 1s;
}

.mobileNav>span:nth-child(1) {
    left: 20px;
    top: 23.5px;
}

.mobileNav>span:nth-child(2) {
    left: 20px;
    top: 33.5px;
}

.mobileNav>span:nth-child(3) {
    left: 20px;
    top: 43.5px;
}

.d-none {
    display: none;
}

/* input:checked+label>.mobileNav {
    
} */

input:checked+label>.mobileNav>span:nth-child(1) {
    background-color: black;
    transform: rotate(135deg);
    left: 20px;
    top: 33.5px;
}

input:checked+label>.mobileNav>span:nth-child(2) {
    background-color: black;
    transform: rotate(45deg);
    height: 3.4px;
}


input:checked+label>.mobileNav>span:nth-child(3) {
    background-color: black;
    transform: rotate(135deg);
    left: 20px;
    top: 33.5px;
}


.mobileBackground {
    position: absolute;
    right: 40px;
    top: 50px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: linear-gradient(to right top,
            rgba(126, 213, 111, 1),
            rgba(40, 180, 133, 1));
    transition-duration: 1.5s;
    z-index: 500;
}

input:checked+label>.mobileBackground {
    transform: scale(60);
}

/* ===== MENU POINTS ===== */

.menu {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.445);
    width: 250px;
    height: 350px;
    border-radius: 10px;
}

.menu>ul>li {
    list-style-type: none;
    text-align: center;
}

/* ===== END MENU POINTS ===== */